.jumbotron {
	background: url('../assets/cathatmain.jpg') no-repeat center center;
	background-size:100.25%;
}

.jumbotron h1, .jumbotron p:nth-child(2) {
	color:white;
	text-shadow:0px 0px 3px black;
}

body {
	padding:0 !important;
}

.navbar.navbar-default.navbar-static-bottom {
	margin-bottom:0px;
	min-height:150px;
	margin-top:25px;
}

.contact-us {
	list-style:none;
	margin-left:-40px;
}

.thumbnail {
	border:none;
	margin:0;
	padding:8px;
}

.thumbnail img {
	box-shadow:0 0 3px gray;
}